@use '../base/variables' as v;
@use '../base/mixins' as m;

// About
.about {

    overflow: hidden;

    //Section home about
    .about-content {

 


        &-description {


        }

        &-image {
            border: 1px solid v.$secondary-color;
            border-radius: .5rem;
            // min-width: 25rem;
            // min-width: 18.875rem;
            // min-height: 100%;
            object-fit: cover;

        }

    }
}